@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'codropsicons';
	font-weight: normal;
	font-style: normal;
}
* {
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

html,
body {
	height: 100%;
}

body {
	background: #bc566e;
	color: #fff;
}

.container{
	height:50%;
}
.sky{
	background:#FFF;
	/*height:50%;*/
}

.container > header,
.codrops-top,
.container > section {
	font-family: 'Lato', Arial, sans-serif;
}

.container > header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 4em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
	margin-top:1.0em;
	font-style:italic;
	font-weight:bolder;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

.container > header span {
	display: block;
	font-size: 50%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
	font-style:normal;
}